{% extends "bash.html" %}



{% block contain %}
<div class="container">

<div class="text-center top_margin">
	<!-- <img class="img-fluid" src="https://www.vippng.com/png/full/271-2710563_what-is-machine-learning-and-how-can-it.png" alt="responsive-img"> -->
	<img class=" img-fluid mx-auto" style="width: 600px;" src="https://png2.cleanpng.com/sh/21b633546347f86f97c309a2433072d9/L0KzQYm3WcI4N5togpH0aYP2gLBuTfRifJIyhdt3aX7qPb7ogBhqdpYyhNdqcn7sfri0ggJ1cZdue9tqbD3sfsXsjPxqb5ZzRdZqdHHwf73sTcVjaZQ6fqpqZUK8QrS6TsExPGc7UaY9MUW2SIG5U8MxPmo3UKM3cH7q/kisspng-data-mining-machine-learning-artificial-intelligen-datamole-5bac5f8ae292c3.1046694415380233069281.png">
	<!-- <h2 class="top_margin">Matser Your Machine Learning & AI Skills With Cyber Margin</h2> -->
</div>


<div class="row top_margin">
	<div class="col-md-8">
		<h2>Cyber Margin Is Devoted To Python Technologies</h2>
		<p class="pera">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aperiam tenetur quibusdam nulla eveniet doloremque deleniti, quas aliquid eaque consectetur. Repudiandae, eum, nulla? Dolore ducimus, impedit autem repellat sit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum saepe illo minima tempore repellat veritatis suscipit voluptatem sunt, laborum corporis nobis, illum quisquam porro pariatur vero reprehenderit iste, ducimus ipsa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor blanditiis quis laboriosam voluptatem hic commodi in quae itaque cupiditate temporibus ratione, molestiae illo, praesentium obcaecati debitis adipisci tenetur voluptatibus aliquid.</p>
	</div>
	<div class="col-md-4 text-center my-auto">
		<!-- <img class=" img-fluid mx-auto" src="https://png2.cleanpng.com/sh/b4561a25df751ba55407627cbeb213a0/L0KzQYm3VsE0N5h2i5H0aYP2gLBuTgB6fJl0hp92YXPrebBsTfxmaaNzgdDwLXPyfcH8lPVzNZpoh9D8LXzoccP1if5oNaFARadrMkGzcoS7U8Y0OGI3RqQDMkCzRIm7UcUzQGkASqQ6MkK1QnB3jvc=/kisspng-python-machine-learning-computer-icons-learning-py-5b210b34363012.282004841528892212222.png" alt=""> -->
		<button type="button" class="btn btn-outline-success btn-lg">Start Learning</button>

	</div>
</div>



<div class="text-center top_margin">

	<span><img class='img-fluid' style="height: 40px;" src="https://png2.cleanpng.com/sh/d58238e04a9effd59b0ba0cc794aaa23/L0KzQYm3U8I5N6ZoiZH0aYP2gLBuTgVvcaVqfJ98dHH3dcS0hvFkbZN0h902bHnudX7plgR1d58yftNsZXLyf7y0jPlsbV5nRd5ya3WwhcS0jB4ubpJofdR4b3uwRbLpgsUxaZNqStM6NkexR4W4UMc4QGU2TaQ7MkK4Q4O6WcI5O191htk=/kisspng-united-states-facebook-like-button-facebook-like-b-like-us-on-facebook-5abb50abe2a167.7410778415222253239283.png" alt=""></span>

	<span ></span>

	<span><img class='img-fluid' style="height: 50px;margin-left: 40px;margin-right: 40px;" src="https://png2.cleanpng.com/sh/afc53ba96801c03710189bdff35617d7/L0KzQYm3U8MxN6R3fZH0aYP2gLBuTfxwb5CyfNd8a4TygH7AgfxteJJ1feQ2Y3BwgMb7hgIucZR0huU2Y3zsgH7okwQucZ94jNNwcnHwPYbogvUxbmU5StNvNHK7Poe5WcEzQWc4Sac7MkSzRYKBWME4Pl91htk=/kisspng-logo-desktop-wallpaper-computer-icons-clip-art-instagram-5abe0f442af4b8.629129631522405188176.png" alt=""></span>

	<span><img class='img-fluid' style="height: 60px;" src="https://png2.cleanpng.com/sh/2d81b45edbf059d12493e80dcd9d866b/L0KzQYm3VcI6N6psjZH0aYP2gLBuTfxqdpxqfNt3LXPyfcH8lPVzNZpoh9D8LXzyd7E0kQJwbpZ4i9t4bnHvPbBslQdwepwyi9HsaXHvPbBslQdwepx4RadrMHS5RbO5hMViPWg8RqI5NEW7QYm8UcUzP2c1TKgAOEi6RYK1kP5o/kisspng-linkedin-computer-icons-logo-professional-network-social-networks-5b0d65b2d5a577.0045818515276046588751.png" alt=""></span>
</div>
 
</div>







{% endblock contain %}

